body {
  max-width: 1920px;
  margin: auto;
}
* {
  font-family: "Inter";
  font-style: normal;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 30px;
  align-items: center;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 28px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
}

header nav li {
  padding-inline: 10px;
}

header nav a {
  text-decoration: none;
  color: #000;
}

header nav a:hover {
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.social-link img {
  width: 20px;
}

#about {
  display: flex;
  background-color: #f6d2b8;
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
}

.picture.left::before {
  content: " ";
  background-color: #e5975f;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.picture {
  width: 100%;
  height: 100%;
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}

.picture img {
  width: 100%;
}

#about-me {
  flex: 2;
}
.about-me__title {
  margin-top: 1em;
  margin-bottom: 60px;
  font-size: 30px;
}
.about-me__introduction {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  line-height: 19px;
  width: 61%;
  margin-bottom: 8px;
}

.about-me__introduction strong {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
}
.about-me__content {
  width: 80%;
  font-size: 14px;
  line-height: 21px;
}

#gallery {
  /*	min-height: 100vh; */
}

.title {
  text-align: center;
  padding-block: 2em;
}
.gallery .nav {
  justify-content: center;
  gap: 20px;
}
.nav-pills .nav-link.active-tag,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #beb45a;
  border-radius: 0;
}
.nav-pills .nav-link {
  color: #000;
  cursor: pointer;
}
.item-column {
  position: relative;
  margin-bottom: 0 !important;
  padding: 0;
}
.item-column::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}
.mg-prev,
.mg-next {
  width: 30px;
  height: 30px;
  border-radius: 00%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
}

blockquote {
  font-family: "Spectral";
  background-color: white;
  width: 70%;
  margin: auto;
  padding-block: 3em;
  margin-bottom: 15px;
}

.quote {
  background-color: white;
  width: auto;
  position: relative;
  z-index: 2;
}

.quote__text {
  font-family: "Spectral";
  font-size: 40px;
  line-height: 48px;
  font-style: italic;
  font-weight: 300;
}
.quote__author {
  font-family: "Spectral";
  font-weight: 800;
  font-size: 22px;
}

#services {
  margin: auto;
  background-color: #a8d5d8;
  position: relative;
}

#services strong {
  font-weight: 400;
}

#services .container::before {
  content: " ";
  background-color: #1c6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#services .container {
  justify-content: space-between;
  display: flex;
  padding: 2em 0;
}

.service {
  background-color: white;
  max-width: 390px;
  width: 30%;
  height: 337px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

footer {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-inline: 100px;
  padding-block: 100px;
}

footer .container {
  display: flex;
}

#contact strong {
  font-weight: 400;
}
.picture.right::before {
  content: " ";
  background-color: #beb45a;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.form-container {
  flex: 2;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 2.5em;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
  margin-bottom: 20px;
}
input[type="submit"] {
  background-color: #beb45a;
  padding: 0.5em 1em;
}

@media all and (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  footer .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me h2,
  #about-me p {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  h2 {
    font-size: 25px;
  }

  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }

  .quote__text {
    font-size: 34px;
    line-height: 40px;
  }

  #services .container {
    flex-direction: column;
  }
  .service {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 2em 0;
  }
  .service__description {
    margin-bottom: 1em;
  }

  #services .container::before {
    content: " ";
    background-color: #1c6474;
    position: absolute;
    width: 30%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 0;
  }

  footer .container {
    flex-direction: column;
  }
  footer .picture.right {
    margin-top: 1em;
  }
  .picture.right::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

@media all and (max-width: 650px) {
  header {
    flex-direction: column;
    padding-inline: 0;
  }
  header .nav,
  header ul {
    width: 100%;
    padding: 0 0 0 0;
  }
  header li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
    padding-inline: 0;
  }

  .quote__text {
    font-size: 27px;
    line-height: 32px;
  }
  */ .picture.left::before,
  .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about,
  footer {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}

@media all and (max-width: 450px) {
  #services h2 {
    margin-left: -3em;
  }
}

@media all and (max-width: 370px) {
  h1 {
    text-align: center;
  }
}
